/*
Responsive CSS
*/

@media screen and (max-width: 1200px){
    body.boxed, 
    .boxed #masthead,
    .boxed #main-header.menu-fix{
        width:100%
    }
    .mid-content{
        width: 100%;
        padding: 0 10px;
    }

    .service-list .service-image{
        width: 16%;
        height: auto;
    }
    .service-list .service-detail{
        width: 80%;
    }

    .team-tab{
        padding: 0 50px;
    }

    .social-icons{
        display: none;
    }
    
    .googlemap-contact{
        width:100%;
        margin-left: 0;
        left: 0;
    }

    .top-menu-toggle {
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        display: block;
        float: right;
        font-size: 22px;
        margin-right: -10px;
        padding: 0 15px;
    }

    #top-header .top-menu{
        display: none;
        float: none;
        clear: both;
    }

    .top-menu ul.menu > li{
        float: none;
        display: block;
        margin-left: 0;
        border-top: 1px solid rgba(0,0,0,0.3)
    }

    .top-menu ul li a{
        display: block;
    }

    .top-menu ul.menu ul{
        position: static;
        min-width: none;
        box-shadow: none;
    }

    .top-menu .sf-arrows .sf-with-ul::after{
        top: 20px;
    }
}

@media screen and (max-width: 1000px){
    .main-navigation > ul{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    .main-navigation{
        text-align: center;
    }
    .main-navigation > ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #E3633B;
        padding: 10px 0;
        text-align: center;
    }
    .main-navigation > ul > li{
        display: inline-block;
        float: none;
        margin: 0 10px;
    }
    #site-navigation.main-navigation > ul > li > a,
    #site-navigation.main-navigation > ul > li.current a, 
    #site-navigation.main-navigation li:hover > a,
    #site-navigation.main-navigation .current_page_item > a, 
    #site-navigation.main-navigation .current-menu-item > a{
        color: #FFF;
    }

    .fullwidth-portfolio .portfolio-list{
        width: 33.33%
    }
    
    #portfolio-grid .portfolio-list{
        width: 33.33% !important;
    }

    #portfolio-grid.enable_space .portfolio-list{
        width: 32.33% !important;
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 12px;
    }
    .parallax-section h1{
        font-size: 34px;
    }
    .slider-caption .caption-title{
        font-size: 30px;
    }
    .slider-caption .caption-description{
        font-size: 20px;
    }
    .service-list{
        width: 100%;
    }
    .blog-listing .blog-list{
        width: 80%;
        margin: 0 auto 20px;
        float: none;
        display: block;
    }
    .blog-list .blog-image{
        text-align: center;
    }
    .parallax-section input[type="text"], 
    .parallax-section input[type="email"], 
    .parallax-section input[type="url"], 
    .parallax-section input[type="password"], 
    .parallax-section input[type="search"], 
    .parallax-section input[type="tel"], 
    .parallax-section textarea{

    }
    .service-listing .service-list{
        float: none;
    }
    .footer-column-4 .footer-block{
        width: 49%;
    }
    .footer-column-4 .footer-block:nth-child(2n){
        margin-right: 0; 
    }
    .copy-right, .site-info{
        float: none;
        text-align: center;
    }
    .main-navigation > ul{
        padding: 0;
    }
    .main-navigation > ul > li{
        display: block;
        border-bottom: 1px solid #DB5E39;
        padding: 0;
        margin: 0;
    }
    .main-navigation > ul > li > a{
        padding: 10px 0;
    }
    .main-navigation ul li a{
        position: relative;
    }
    .main-navigation ul ul {
        background: #db5e39;
        position: static;
        padding:0;
        font-size: 15px;
        display: none;
        box-shadow:none;
    }
    .main-navigation ul ul li{
        text-align: center;
    }
    .main-navigation ul ul a{
        color:#FFF !important;
        border-bottom:0;
        border-top:1px solid;
    }
    .main-navigation ul ul a:hover{
        border-bottom:0 !important;
    }
    .sf-arrows .sf-with-ul{
        padding-right: 0;
    }
    .sf-arrows .sf-with-ul:after{
        right:20px;
    }
    #primary, #secondary,
    #secondary-right,
    #secondary-left,
    .both-sidebar #primary-wrap,
    .both-sidebar #secondary-left{
        float: none !important;
        width: 100% !important;
    }
    #primary,
    #secondary-left{
        margin-bottom: 20px;
    }
    #main-slider .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    .next-page{
        display: none;
    }

    .fullwidth-portfolio .portfolio-list{
        width: 50%;
    }
    
    #portfolio-grid .portfolio-list{
        width: 50% !important;
    }
    .service-list .service-image img{
        width:100%;
    }
    .parallax-section{
        background-attachment: scroll !important;
        background-repeat: repeat !important;
    }
    .ap-span1,
    .ap-span2,
    .ap-span3,
    .ap-span4,
    .ap-span5,
    .ap-span6{
    	width: 100%;
    	margin:0 0 15px !important;
    }
}
@media screen and (max-width: 480px){
    .parallax-section h1{
        font-size: 30px;
    }
    .service-list.odd .service-image{
        float: left;
    }
    .service-list.odd .service-detail{
        float: right;
    }
    .service-listing .service-list{
        text-align: left;
    }
    .team-big-image{
        display: none;
    }
    .team-detail{
        float: none;
        width: auto;
    }
    .team-image{
        height: auto;
    }
    .team-tab .bx-wrapper .bx-viewport{
        border-radius: 0;
    }
    .portfolio-list{
        width: 450%;
    }
    .blog-listing .blog-list{
        width: 100%;
    }
    .parallax-section input[type="text"], 
    .parallax-section input[type="email"], 
    .parallax-section input[type="url"], 
    .parallax-section input[type="password"], 
    .parallax-section input[type="search"], 
    .parallax-section input[type="tel"], 
    .parallax-section textarea{
        width: 100%;
    }

    .team-content{
        margin-top: 30px;
    }
    .footer-block{
        width: 100% !important;
        margin: 0 0 15px !important;
        float:none;
        clear: both;
    }
    #site-logo{
        width: 80%;
    }
    .fullwidth-portfolio .portfolio-list{
        width: 100%
    }
    
    .googlemap-contact-wrap{
        width:100%;
    }
    
    #portfolio-grid .portfolio-list{
        width: 100% !important;
    }

    .fullwidth-portfolio .portfolio-list{
        width: 50%
    }
    
    #portfolio-grid .portfolio-list{
        width: 50% !important;
    }

    #portfolio-grid.enable_space .portfolio-list{
        width: 49% !important;
    }

    .mobile .main-navigation > ul{
        max-height:320px;
        overflow-y: scroll;
    }

}

@media screen and (max-width: 480px) and (orientation : landscape){
    .mobile .main-navigation > ul{
        max-height:220px 
    }
}

@media screen and (min-width: 1001px){
    .main-navigation > ul{
        display: block !important;
    }
}

@media screen and (min-width: 1201px){
    #top-header .top-menu{
        display: block !important;
    }
}