.so-widget-sow-slider-base-d1d436f715c1 .sow-slider-base .sow-slider-pagination li a {
  background: #dd3333;
}
.so-widget-sow-slider-base-d1d436f715c1 .sow-slider-base .sow-slide-nav {
  font-size: 50px;
}
.so-widget-sow-slider-base-d1d436f715c1 .sow-slider-base .sow-slide-nav a {
  color: #dd3333;
}
